.about-page {
    /*grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(100px, auto);
    max-width: 100px ;*/
    background-color: #fff;
}

.portraitMan {
  width: 350px;
  margin-left: 30px;
  padding-top: 30px;
  z-index: -3;
}

.ligne_verticale{
    width:3px;
    border-left:1px solid gray;
    height:30px;
    margin-top: 30%;
}

.textPresentation {
  display: flex;
  justify-content: center;
  color: #000;
  /*border-radius: 100px;*/
  margin-top: 5px;
  margin-left: 500px;
  width: 50%;
  font-size: 15px;
  font-family: 'Roboto', serif;
  letter-spacing: 1.5px;
}

.nameCoach {
  font-family: "Monoton", sans-serif;
  display: flex;
  justify-content: center;
  color:#000;
  font-size: 80px;
}