.contact-page{
    font-family: 'Oswald', sans-serif;
    width: 70%;
    height: 100px;
  }

.contact {
    margin-top: 100px;
    color: #fff;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.contact h1{
    font-size: 32px;
    line-height: 10px;
    text-align: center;
    color: #fff;
}

.contact p{
    font-size: 20px;
    font-family:'Oswald', sans-serif;
    text-align: center;
    color: #fff;
}

form {
    margin-top: 50px;
    transition: all 4s ease-in-out;
}

.form-control {
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #111;
    font-size: 18px;
    margin-bottom: 16px;
    font-family:'Oswald',sans-serif;
}

input {
    height: 45px;
}

form .submit {
    background: #FEB41C;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px
}

form .submit:hover{
    background-color: #FEB41C;
    cursor: pointer;
}

.contact-form {
    display: grid;
    justify-content: center;
    margin : 20px;
}

.map-google{ 
    width: 100%;
    height: 100px;
}

.imageContact {
    width: 100%; 
    height: 300px;
}